@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.gantt__row {
  display: grid;
  grid-template-columns: 260px 1fr;
  background-color: #fff;
}
.gantt__row--lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 260px repeat(12, 1fr);
}
.gantt__row--lines span {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.gantt__row--months {
  color: rgb(36, 35, 35);
  background-color:white !important;
  grid-template-columns: 260px repeat(12, 1fr);
}
.gantt__row--months span {
  text-align: center;
  font-size: 13px;
  align-self: center;
  font-weight: bold;
  padding: 20px 0;
}
.gantt__row-first {
  border-width: 0px 0 0 0;
  font-size: 13px;
  font-weight: bold;
  text-align: start;
  padding-left: 25px;
}
.gantt__row-bars {
  list-style: none;
  display: grid;
  padding: 9px 0;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 8px 0;
}
.gantt__row-bars li {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  min-height: 15px;
  background-color: #55de84;
  padding: 5px 12px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.Bar1{
    margin-left: -247px;
    width: 130px;
}
.Bar2{
    margin-left: -167px;
    width: 130px;
}
.Bar3{
    margin-left: -84px;
    width: 53px;
}