body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #C7C7C7 !important;
}
header{
    font-family: 'Poppins', sans-serif;
}
.logo{
    height: 40px;
    width: 150px;
}
.profileIcon{
    height: 40px;
    width: 40px;
}
.active{
 background-color:#E57200;
 color: white;
}
.background{
    /* height: 700px; */
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.searchIcon .bi-search{
    position: absolute;
}
.searchbar{
    outline: none;
    border: 1px solid rgb(201, 199, 199);
}
.bi{
    font-size: 19px;
}
th{
    color: #974d02;
    font-size: 14px;
}
td{
    font-size: 14px;
}
.btn-sm{
   border: none;
}
label{
    font-weight: 600;
}
input::placeholder{
    color: rgb(163, 162, 162);
}
.Btn{
    background-color: orange !important;
    font-weight: 600;
}
.Btn:hover{
    background-color: orangered;
}

